h1{
    color: whitesmoke;
    background-color: darkseagreen;
    font-size: 2rem;
}
h2{
    background-color: #C58940;
    color: #faf8f1;
    font-size: 51px;
    text-align: center;
}
body{
    background-color: #cef3f6;
}